html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: black;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: black;
    text-align: center;
    padding: 18px;
    margin: 0 0 10px 0;
}
h1 span {
    padding: 10px;
}
.sectionkiri {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 70px;
    float: left;
    width: 50%;
}.sectionkanan {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 70px;
    float: right;
    width: 50%;
}
#header {
    background-image: url("https://ae01.alicdn.com/kf/HTB19aNwLXXXXXbKXpXXq6xXFXXXA/Manhattan-Bridge-New-York-City-black-and-white-mural-wallpaper-bedroom-living-room-TV-background-wall.jpg_640x640.jpg");
    background-size: 300px;
}
#header img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: black;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: center;
    margin-top: 10px;
}
.selected {
    background-color: black;
    font-weight: bold;
    color: white;
}
hr {
    height: 3px;
    background: black;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
